In [1]:
# Qiwei Li
# https://www.linkedin.com/in/liqiwei
%matplotlib inline

from collections import defaultdict
import pickle
import operator

In [2]:
top = defaultdict(int)

In [3]:
print('Opening train...')
f = open("data/train.csv", "r")
f.readline()
total = 0
    
while 1:
    line = f.readline().strip()
    total += 1
        
    if total % 5000000 == 0:
        print('Read {} lines...'.format(total))
    if line == '':
         break

    arr = line.split(",")
    hotel_country = arr[21]
    hotel_market = arr[22]
    srch_destination_id = arr[16]
    book_year = arr[0][:4]
    is_booking = arr[18]
    
    if book_year == '2013':
        top[(hotel_country, hotel_market, srch_destination_id)] += 1
        
print('Closing train...')
f.close()

Opening train...
Read 5000000 lines...
Read 10000000 lines...
Read 15000000 lines...
Read 20000000 lines...
Read 25000000 lines...
Read 30000000 lines...
Read 35000000 lines...
Closing train...

In [4]:
sorted_top = sorted(top.items(), key=operator.itemgetter(1), reverse=True)

In [5]:
for i in range(50):
    print sorted_top[i]

(('50', '628', '8250'), 395714)
(('50', '675', '8267'), 254499)
(('8', '110', '8791'), 178596)
(('70', '19', '8253'), 149708)
(('50', '682', '8268'), 145494)
(('204', '27', '8745'), 120912)
(('50', '628', '12206'), 111036)
(('50', '1230', '8279'), 109140)
(('50', '701', '8260'), 99489)
(('163', '1503', '11439'), 99388)
(('50', '365', '8254'), 84400)
(('50', '675', '7635'), 83554)
(('105', '29', '8746'), 82606)
(('50', '212', '669'), 80741)
(('182', '46', '8220'), 79188)
(('50', '368', '8278'), 74590)
(('48', '153', '468'), 72763)
(('50', '637', '8230'), 70509)
(('8', '126', '11938'), 69987)
(('77', '2', '8788'), 69467)
(('171', '61', '8242'), 69049)
(('168', '1242', '8819'), 62590)
(('50', '191', '8291'), 60081)
(('50', '675', '12233'), 55257)
(('50', '366', '12175'), 53905)
(('126', '232', '8282'), 53171)
(('50', '699', '11353'), 53003)
(('8', '118', '8824'), 50008)
(('106', '107', '8747'), 49637)
(('50', '212', '8859'), 48398)
(('50', '701', '12227'), 47178)
(('8', '1532', '8810'), 46470)
(('50', '213', '8855'), 46206)
(('68', '275', '8213'), 46047)
(('8', '126', '5405'), 45522)
(('50', '690', '8223'), 45042)
(('50', '411', '8266'), 43461)
(('50', '701', '44045'), 41714)
(('50', '663', '8281'), 41478)
(('144', '4', '8739'), 39046)
(('22', '245', '8245'), 38171)
(('198', '397', '26022'), 37745)
(('198', '399', '8288'), 37599)
(('198', '750', '14875'), 37381)
(('130', '91', '8822'), 36955)
(('105', '35', '8785'), 35924)
(('5', '1701', '11815'), 34597)
(('51', '1509', '12257'), 33443)
(('47', '1508', '8864'), 33158)
(('169', '28', '8808'), 32239)

In [6]:
pickle.dump(sorted_top, open("data/sorted_top.p", "wb"))